.my-logo{
    width: 65px;
    height: 65px;
    margin-bottom:10px;
    margin-right:7px;
}
.my-jumbotron-background{
    background-image: url(img_lights.jpg);
    background-size: cover;
    background-position: center;
    color:white;
     height:400px;
}
/*for rounded carousel*/
.carousel-control {
    border-radius: 10px ;
    
   
    
}
.carousel .item {
    border-radius: 10px ;
    overflow: hidden;
    background-color: rgba(0,0,0,0);
 /*end*/
    
}
.carousel-caption {
    top: 0;
    bottom: auto;
    
}
.car-caption-size{
    font-size:50px;
}
.my-button{
    background-color: #F5F5DC;
    border-width: 2px;
    border-radius: 15px;
   box-shadow: 1px 1px 1px brown;
    color: brown;

}
.my-button:hover{
    background-color: brown;
    
    color: white;
    transition-duration: 1s;
    transition: box-shadow 1s;
}
.my-button2{
    background-color: brown;
    border-width: 2px;
    border-radius: 15px;
    box-shadow: 1px 1px 1px #F5F5DC;
    color: white;

}
.my-button2:hover{
    background-color: #F5F5DC;
    
    color: brown;
    transition-duration: 1s;
}
.my-body{
    background-image: url(wallpaper.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.my-body-menu{
    background-image: url(wallpaper.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.my-thumbnail-background{
    background-color: rgba(255,255,255,0);
    border: none;
  
}
.my-panel{
    background-color: rgba(255,255,255,0);
    border: none;
  
}
.my-about-us{
    font-size: 20px;
}
img{
    border-radius:5px;
}

.my-li{
    border: none;
 /*distances   */
}
.mgn-top-20{
    margin-top: 20px;
}
.mgn-top-55{
    margin-top: 55px;
}
.mgn-top-120{
    margin-top: 120px;
}
.mgn-bottom-55{
    margin-bottom: 55px;
}
.height-400{
    height:400px;
    
}
 /*distances   */

.my-video{
   
    height:400px;
}
hr.style1 { 
  height: 30px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 1px 0 0 0; 
  border-radius: 20px; 
} 
hr.style1:before { 
  display: block; 
  content: ""; 
  height: 30px; 
  margin-top: -31px; 
  border-style: solid; 
  border-color: black; 
  border-width: 0 0 1px 0; 
  border-radius: 20px; 
}
hr.style2{
    border: 1px black solid;
    border-radius: 10px;
    padding: 1px;
  
}
hr.style3{
      border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
   
  
}
.my-instructions{
    font-size: 13px;
}
.my-instructions>ul{
    font-weight: 12px
}
.my-cookbook{
    display:block;
    margin:auto;
    margin-bottom:10px;
}
.cookbook-writeup{
    text-align: auto;
    font-size:2rem;
    
    padding-left: 130px;
    padding-right: 130px;
    }
.cool-font1{
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
   
}
.cool-font1-2rem{
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
   font-size:2rem;
}

/*start*/
@media screen and (min-width:768px) {
  .brand {
        display: inherit;
        margin: 0;
        padding: 30px 0 10px;
        text-align: center;
        text-shadow: 1px 1px 5px rgba(0,0,0,0.5);
      font-family: 'Megrim', cursive;
        font-size: 5em;
        font-weight: 600;
        line-height: normal;
        color: #5B6666;
    }
        .address-bar {
        display: inherit;
        margin: 0;
        padding: 0 0 40px;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(255,255,255,0.7);
        text-transform: uppercase;
        font-family: 'Quicksand', sans-serif;
        font-size: 1.25em;
        font-weight: 400;
        letter-spacing: 3px;
        color: black;
    }
 
    .nav>li>a {
        padding: 35px;
    }
    .navbar-nav>li>a {
        line-height: normal;
    }
     .navbar-nav {
        display: table;
        float: none;
        margin: 0 auto;
        table-layout: fixed;
        font-size: 1.25em;
    }


}
/*end*/

.navbar-nav {
   
    letter-spacing: 3px;
    color: black;
}
.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;

}
@media screen and (max-width:768px) {

    
    .cookbook-writeup{
    text-align: auto;
    font-size:2rem;
    
    padding-left: 10px;
    padding-right: 10px;
    }
   
    
}

/* Link */
 
    .navbar-default {
    background-color: rgba(255,255,255,0);
    }
.navbar-default .navbar-nav > li > a {
    color: black;
     font-family: 'Amatic SC', cursive;
    font-weight: bold;
   font-size:30px;
}
.navbar-default .navbar-nav > li > a > i {
    color: rgba(0,0,0,0.7);
    
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #555;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
/*end*/
/* Title */
.navbar-default .navbar-brand {
    color: black;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5E5E5E;

/*end*/









